<h1>{{name}}</h1>

<img src="https://edge.media.datahc.com/HI282139980.jpg" alt="">
<form method="post">
  <p>Rydges Wellington is centrally located on downtown Featherston Street with a unique combination of harbour and
    city outlooks. Our Wellington accommodation is within walking distance to Lambton Quay, Westpac Stadium, Queens
    Wharf and Wellington Railway Station making it ideally positioned in the heart of the capital. </p>
  How was the service?:<br>
  <input type="text" question1="answer1" value="">
  <br>
  How were the facilities?:<br>
  <input type="text" question2="answer2" value="">
  <br>
  How was the view?:
  <br>
  <input type="text" question3="answer3" value="">
  <br>
  Overall rating out of 5?:
  <br>
  <input type="text" question4="answer4" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
<ul>
  <li> <a href="/hotel/1">JamesCook</a> </li>
  <li> <a href="/hotel/2">Novatel</a> </li>
  <li> <a href="/hotel/3">Rydges</a> </li>
</ul>