<h1>{{name}}</h1>

<img src="https://d1qjb58ikbccig.cloudfront.net/grandchancellorhotels.com-442150124/cms/cache/v2/5a5ecfc4d56ca.jpg/1680x942/fit;c:0,793,2500,2195/80/57df5e2a7ed2a68f86037b5c25a44de1.jpg"
  alt="">
<p> James Cook Hotel Grand Chancellor, known for our friendly, professional service and well-appointed accommodation
  for business and holiday travellers. Two renowned restaurants & bars, conference facilities, a day spa & fitness
  room, an exclusive club lounge and complimentary Wi-Fi complete the guest experience.</p>

<form method="post">
  How was the service?:<br>
  <input type="text" question1="answer1" value="">
  <br>
  How were the facilities?:<br>
  <input type="text" question2="answer2" value="">
  <br>
  How was the view?:
  <br>
  <input type="text" question3="answer3" value="">
  <br>
  Overall rating out of 5?:
  <br>
  <input type="text" question4="answer4" value="">
  <br><br>
  <input type="submit" value="Submit">
</form>
<ul>
  <li> <a href="/hotel1">JamesCook</a> </li>
  <li> <a href="/hotel2">Novatel</a> </li>
  <li> <a href="/hotel3">Rydges</a> </li>
</ul>